#root {
  width: 100%;
}
header {
  height: 100px;
  border-bottom: 1px solid #666;
  position: sticky;
  top: 0;
  background-color: #242424;
}
main {
  width: 100%;
  display: grid;
  place-content: center;
}
.cards_list {
  width: 100vw;
  padding-inline: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
  padding: 15px;
  border: 1px solid #666;
}
.card h2 {
  margin-bottom: 10px;
}
