#root {
  width: 100%;
}
header {
  height: 100px;
  padding-inline: 30px;
  border-bottom: 1px solid #666;
  position: sticky;
  top: 0;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  height: 100px;
  padding-block: 10px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.buttons_container {
  display: flex;
  gap: 20px;
}
.buttons_container button {
  background-color: transparent;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.buttons_container button:hover {
  border-color: #fff;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
header a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
main {
  width: 100%;
  display: grid;
  place-content: center;
  padding-block: 50px;
  min-height: calc(100vh - 200px);
}
.cards_list {
  width: 100vw;
  padding-inline: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
  padding: 15px;
  border: 1px solid #666;
}
.card h2 {
  margin-bottom: 10px;
}
form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form label {
  font-size: 0.8rem;
  text-transform: uppercase;
}
form input:not([type='submit']) {
  padding: 5px;
}
input[type='submit'] {
  margin-top: 20px;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
.error-msg {
  color: red;
}
